body{
  display:flex;
  flex-direction: column;
  justify-content:center;
  align-items: center;
  gap:200px;
  padding:50px;
  }

button{
  border-radius:30px;
  border:none;
  padding:30px;}

div.a{
  display:flex;
  bottom:0;}

input.b{
  width:200px;
  border:none;
  border-radius:40px;}
