body{
  display:flex;
  flex-direction: column;
  justify-content:center;
  align-items: center;
  gap:500px;
  padding:50px;
  background-color:#F4F5F0;
  }

button{
  background-color:#FFFAFA;
  border-radius:30px;
  border:none;
  padding:30px;}

div.a{
  width:800px;
  background-color:#FFFAFA;
  justify-content:center;
  align-items:center;
  display:flex;
  bottom:0;}

input.b{
  width:300px;
  height:50px;
  border:none;
  border-radius:40px;}
